

.btn-primary {
  color: #fff;
  background-color: #545cd8;
  border-color: #545cd8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #474eb8;
  border-color: #434aad;
}



.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}